
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;

}

.container {
    margin: 0px 166px;
    height: 100%;
   
}





.header {
    background-image: url(img/bg.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}



.header-line {
    padding-top: 50px;
    display: flex ;
    align-items: center;
    justify-content: space-around;
}
.header-title
{
     color: #D67E35;
    font-family: 'Tinos', self;
    font-size: 50px;
    font-weight: 400;
    text-align: center;
    position: absolute;
    left: 20;
    margin-top: 50px;
    margin-bottom: 12px;
}
.header-suptitle
{
    color: #fff;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}
.header-suptitle:after
{
   position: absolute;
   content: '';
   height: 2px;
   width: 61px;
   background-color: #fff;
   top: 127px;
   left: 56px;

}
.header-suptitle:before
{
   position: absolute;
   content: '';
   height: 2px;
   width: 61px;
   background-color: #fff;
   top: 127px;
   left: 308px;
   
}
.nav-item {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;

    margin-right: 25px;

    transition: color 0.3s linear;
}
.nav-item1 {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 25px;
padding: 10px;
   margin-left: -70px;

    transition: color 0.3s linear;
}

.nav-item:hover {
    color: #d81d1d;
}



.num {
    color: #fff;
    text-decoration: none;
    font-weight: 700;

    transition: color 0.3s linear;
}

.num:hover {
    color: #d81d1d;
}

.block{
    display: block;
}
.menu-slide{
    position: absolute;
    display: none;
}

.phone-text {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}

.phone-holder {
    display: flex;
    align-items: center;
}

.button {
    background-color: #FF7400;
    color: #fff;
    text-decoration: none;
    padding: 14px 18px;
    font-weight: 700;border-radius: 10px;

    transition: background-color 0.2s linear;
}

.button:hover {
    background-color: #894b17;
}
.header-button{
    background-color: #FF7400;
    padding: 14px 18px;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
      font-family: 'Open Sans', sans-serif;
      text-decoration: none;
      border-radius: 10px;
}
.header-button:hover
{
  background-color: #894b17;   
}
.header-down{
    margin-left: -100px;
}
.card-image
{
    display: flex;
    justify-content: center;
    padding-top: 31px;
   
}
.card-title{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
     font-family: 'Tinos', self;
    font-size: 26px;
    font-weight: 400;
}
.card-desc
{
    text-align: center;
    justify-content: center;
     font-family: 'Tinos', self;
    font-size: 26px;
    font-weight: 400;
    padding: 0px 10px;
    color: #656363;
}
.card{
  
    width: 349px;
    box-shadow: 10px 10px 40px 20px #0000001A;
    margin-right: 31px;
    background-color: #FFF;
    margin-top: -80px;

}

.card-title span
{ margin-left: 10px;
    color: #D67E35;
}

.cards-holder{
    display: flex;
  justify-content: center;
}
.history{
    margin-top: 166px;
    padding-bottom: 20px;
}
.history-title{
    font-family: 'Tinos', self;
    font-size: 54px;
    font-weight: 400;
    width: 444px;
    text-align: center;
    margin-top: 41px;
}
.history-title span{
     color: #D67E35;
}
.history-desc{
    color: #656363;
    font-size: 16px;
    width: 444px;
    text-align: center;
    margin-bottom: 100px;
}
.history-number
{
    display: flex;
    width: 444px;
    justify-content: center;
    margin-top: 40px;
    margin-left: 30px;

}
.number-item
{
    margin-right: 60px;
    text-align: center;
    font-size: 40px;
    color: #BC9060;
}
.number-item span{
    display: block;
    color: #000;
}
.history-holder{
    display: flex;
    justify-content: space-between;
}
.history img{
    position: relative;
    
}
.img1{
    position: absolute;
    z-index: 0;
    top:170px;
    left: 180px;
  width: 40%;
    height: 50%;
}
.img2{
    position: absolute;
    z-index: 999;
    top: 50px;
    left: -200px;
     width: 40%;
    height: 50%;
   
}
.img3{
   
     position: absolute;
    z-index: 999;
    top: -300px;
    left: 110px;
     width: 40%;
    height: 50%;
}
.black-block{

background-image: url(img/13.jpg);
width: 100%;
padding:80px 0px;

    }

.black-block1{
margin-top: 1px;
border-color: green;
background-color: #ccc;
width: 100%;
height: 260PX;
padding:100px 0px;
display: block;
    }
    .black-block1 h1
    {
        text-align: center;
        margin-top: -70px;
        font-size: 54px;
    }
    .block-holder1{
        width: 100%;
          height: auto;
    }
    .black-block2{

background-color: white;
width: 100%;
height: 260PX;
padding:100px 0px;
    }
    .black-block2 h1
    {
        text-align: center;
        margin-top: -70px;
        font-size: 54px;
    }
.left-title{
    color:#D67E34;
    font-family: 'Tinos', self;
    font-size: 54px;
    font-weight: 400;
    margin-bottom: 20px;

     
}
.left-title1{
    width: 100%;
    color:black;
    font-family: 'Tinos', self;
    font-size: 24px;
    font-weight: 100;
    margin-bottom: 20px;
    display: block;
   margin-left: -100PX;
}
.left-title1 h2{ margin-top: -50px; }


.right-title2{
    width: 50%;
    height: 100%;
    color:black;
    font-family: 'Tinos', self;
    font-size: 24px;
    font-weight: 100;
    margin-bottom: 80px;
    display: block;
   margin-left: 800px;
   background-color: black;
}

.right-title1 img{
    padding: 10px;
    height: 100%;
    width: 600px;
    margin-left: 100px;
}


.butt:hover{
    background-color: green;

}
/* Настраиваем внешний вид полей ввода*/
.input {
  display: inline-block;
 margin-left: 500px;
 margin-top: 20px;
  border: 2px solid green;
  padding: 10px 20px;
  font-family: Verdana, Arial, sans-serif;
  font-size: 16px;
  border-radius: 20px;
}
textarea {
  display: inline-block;
  margin-left: 500px;
 margin-top: 20px;
  border: 2px solid green;
  padding: 10px 20px;
  font-family: Verdana, Arial, sans-serif;
  font-size: 16px;
  border-radius: 20px;
}
.left-text{
    font-weight: 700;
    font-size: 24px;
    color: #FFF;
}

.right-button1 img{
height: 400PX;
width: 400PX;

}
/*
.right-btn{
     background-color: #FF7400;
    color: #fff;
    text-decoration: none;
    padding: 14px 18px;
    font-weight: 700;
}

*/
.btn-open-popup{
     background-color: #FF7400;
    color: #fff;
    text-decoration: none;
    padding: 14px 18px;
    font-weight: 700;
    border-radius: 10px;
}
*/ открыть форму*/
.btn-open-popup:hover{
     background-color: #ff740078;
}


.btn-open-popup1{
      color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;

    margin-right: 25px;

    transition: color 0.3s linear;
}
*/ открыть форму*/
.btn-open-popup1:hover{
     background-color: #ff740078;
}

.block-holder{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.comment{
    background-color: #E5E5E5;
    padding-top: 104px;
    padding-bottom: 139px;
}
.comment-text{
    text-align: center;
    font-style: italic;
    font-size: 20px;
    margin-bottom: 20px;
}
.comment-image{
    text-align: center;
   
}
.comment-name{
    padding-top: 9px;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}
.comment-type{
    font-weight: 600;
    font-size: 20px;
    text-align: center;
}
.comment-img{
    border-radius: 50px;
}
/*.footer{
    height: 10px;
    background-color: black;
    opacity: 0.9;
    justify-content: space-around;
    padding: 50px 0px;
    color: #FFF;
    text-align: center;
}
*/




/* Footer */

.contacts {
    padding: 90px 0;
    text-align: center;
    background-color: gray;
}

.contacts-title {
    margin-bottom: 40px;
}

.contacts-content {
    margin: 0 auto 40px;
    max-width: 480px;
    font-size: 18px;
}

.contacts-content p + p {
    margin-top: 1em;
}

.contacts-button {
    margin-bottom: 80px;
}

.contacts-social {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 60px;
    margin-bottom: 40px;
}

.contacts-footer {
    color: #828282;
}
button {
    border: none;
    outline: none;
    background-color: transparent;
}
.menu-image{
    width: 98%;

}
.menu{
    display: none;
}
.burger-slide{
    position: absolute;
    padding: 15px;

}

.disp{
display: none;
}


@media(max-width: 1300px)
{
.header-title{

   font-size: 40px;
   

}

.header-suptitle:after,.header-suptitle:before
{
    content: none;


}
.block-holder{
    display: block;
}
.left-title,
.left-text,
.right-button{
    text-align: center;
}
.right-button{
    margin-top: 30px;
}

.history-img{
    display: none;
}
.history-title,
.history-desc,
.history-number{
    width: auto;
}
}

@media(max-width: 1185px)
{


.menu{
    display: block;
    margin-right: -80px;

}

.nav,
.phone,
.btn{
    display: none;

}
.header-line{
    justify-content: space-between;
}

}


  
        .btn-open-popup:hover { 
              background-color: #ff740078; 
        } 
  
        .overlay-container { 
            display: none; 
            position: fixed; 
            top: 0; 
            left: 0; 
            width: 100%; 
            height: 100%; 
            background: rgba(0, 0, 0, 0.6); 
            justify-content: center; 
            align-items: center; 
            opacity: 0; 
            transition: opacity 0.3s ease; 
        } 
  
        .popup-box { 
            background: #fff; 
            padding: 24px; 
            border-radius: 12px; 
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.4); 
            width: 320px; 
            text-align: center; 
            opacity: 0; 
            transform: scale(0.8); 
            animation: fadeInUp 0.5s ease-out forwards; 
        } 
  
        .form-container { 
            display: flex; 
            flex-direction: column; 
        } 
  
        .form-label { 
            margin-bottom: 10px; 
            font-size: 16px; 
            color: #444; 
            text-align: left; 
        } 
  
        .form-input { 
            padding: 10px; 
            margin-bottom: 20px; 
            border: 1px solid #ccc; 
            border-radius: 8px; 
            font-size: 16px; 
            width: 100%; 
            box-sizing: border-box; 
        } 
  
        .btn-submit, 
        .btn-close-popup { 
            padding: 12px 24px; 
            border: none; 
            border-radius: 8px; 
            cursor: pointer; 
            transition: background-color 0.3s ease, color 0.3s ease; 
        } 
  
        .btn-submit { 
            background-color: green; 
            color: #fff; 
        } 
  
        .btn-close-popup { 
            margin-top: 12px; 
            background-color: #e74c3c; 
            color: #fff; 
        } 
  
        .btn-submit:hover, 
        .btn-close-popup:hover { 
            background-color: #4caf50; 
        } 
  
        /* Keyframes for fadeInUp animation */ 
        @keyframes fadeInUp { 
            from { 
                opacity: 0; 
                transform: translateY(20px); 
            } 
  
            to { 
                opacity: 1; 
                transform: translateY(0); 
            } 
        } 
  
        /* Animation for popup */ 
        .overlay-container.show { 
            display: flex; 
            opacity: 1; 
        } 

@media(max-width: 1000px)
{
    .cards-holder{
        display: block;
    }
    .card{
        width: 100%;
        margin-top: 30px;
        margin-bottom:  20px;
       
    }

}
@media(max-width: 780px)
{
   
    .history-holder
    {
        display: block;
    }
    .container{
        margin: auto 40px;
    }
    .number-item
    {
        font-size: 23px;
    }


}
.header-row {

    display: flex;justify-content: space-between;
    column-gap: 30px;
    background-color: gray;
    padding: 70px;
}

.header-content{
    display: block;
margin-top: -100px;
}
.header-content1{
    display: block;
    margin-top: -300px;
}

.header-img img{
width: 90%;
height: 90%;margin-top: 5%;
}

.pg-footer {
  font-family: 'Roboto', sans-serif;

}


















.footer-social-links {
   display: block;
    height: 54px;
    position: absolute;
    right: 0;
    width: 236px;

}

.footer-social-amoeba-svg {
    height: 54px;
    left: 0;
    display: block;
    position: absolute;
    top: 0;
    width: 236px;
    margin-top: -54px;
}
//////**////
.footer-social-amoeba-path {
    fill: #027b9a;

}

.footer-social-link.linkedin {
    height: 26px;
    left: 3px;
    top: 11px;
    width: 26px;
     margin-top: -54px;

}

.footer-social-link {
    display: block;
    padding: 10px;
    position: absolute;
}

.hidden-link-text {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px,1px,1px,1px);
    -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
    top: 50%;
}

.footer-social-icon-svg {
    display: block;
}

.footer-social-icon-path {
    fill: #fffff2;
    transition: fill .2s;
}

.footer-social-link.twitter {
    height: 28px;
    left: 62px;
    top: 3px;
    width: 28px;
     margin-top: -54px;

}

.footer-social-link.youtube {
    height: 24px;
    left: 123px;
    top: 12px;
    width: 24px;
     margin-top: -54px;

}

.footer-social-link.github {
    height: 34px;
    left: 172px;
    top: 7px;
    width: 34px;
     margin-top: -54px;

}

.footer-copyright {
    opacity: 0.9;
    background-color: black;
    color: #fff;
    padding: 15px 30px;
  text-align: center;
}

.footer-copyright-wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}



.footer-copyright-link {
    color: #fff;
    text-decoration: none;
    
}
.containers {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10vmin;
  overflow: hidden;
  transform: skew(5deg);

  .cards {
    flex: 1;
    transition: all 1s ease-in-out;
    height: 75vmin;
    position: relative;
    .card__head {
      color: black;
      background: rgba(255, 30, 173, 0.75);
      padding: 0.5em;
      transform: rotate(-90deg);
      transform-origin: 0% 0%;
      transition: all 0.5s ease-in-out;
      min-width: 100%;
      text-align: center;
      position: absolute;
      bottom: 0;
      left: 0;
      font-size: 1em;
      white-space: nowrap;
    }

    &:hover {
      flex-grow: 10;
      img {
        filter: grayscale(0);
      }
      .card__head {
        text-align: center;
        top: calc(100% - 2em);
        color: white;
        background: rgba(0, 0, 0, 0.5);
        font-size: 2em;
        transform: rotate(0deg) skew(-5deg);
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 1s ease-in-out;
      filter: grayscale(100%);
    }
    &:not(:nth-child(5)) {
      margin-right: 1em;
    }
  }
}











